# Full docker tag that shall be used to tag docker images
# when pushing the production docker image to the repository
# with the task `docker:push_prod`
DOCKER_IMAGE_TAG = 'repositoryname/imagename'

# Full gce tag that shall be used to tag docker images
# when pushing the production docker image to the repository
# with the task `gce:push_prod`
GCE_IMAGE_TAG = 'repositoryname/imagename'

# GCE hostname that shall be used to push docker images to
# with the task `gce:push_prod`
GCE_REGISTRY_HOST = 'eu.gcr.io'

# Path to your decrypted google cloud engine login
# credentials file
GCE_DOCKER_LOGIN = 'k8s/secrets/gce.json'

# Name of the kubernetes context for the production cluster.
# This will be used as value for the --context parameter in
# kubectl calls
# rubocop:disable Metrics/LineLength
K8S_PROD_CONTEXT_NAME = 'kubernetes-production-context'
# rubocop:enable Metrics/LineLength

# Name of the deployment on the production kubernetes cluster
K8S_PROD_DEPLOYMENT_NAME = 'kubernetes-production-deployment'

# NAme of the container that runs the production docker image
# in the pod on the production kubernetes cluster
K8S_PROD_DEPLOYMENT_CONTAINER_NAME = 'kubernetes-production-container'
