# If your choice for PERSISTENCE was "mysql", then you can specify
# the mysql server credentials in the next few environment variables.
MYSQL_HOST=your.mysql.host
MYSQL_PORT=3306
MYSQL_USERNAME=mysqluser
MYSQL_PASSWORD=mysqlpassword
MYSQL_DATABASE=mysqldbname

# Specify the database connection string for the mgiration tool "dbmate".
# This is listed separately for security reasons (migrations need to alter
# database schemas, and the bot should not have these kinds of permissions).
#
# For more information on how this database string needs to look like, please
# refer to the dbmate manual at https://github.com/amacneil/dbmate
DATABASE_URL=mysql://mysqluser:mysqlpassword@your.mysql.host:3306/mysqldbname
