##################################################
### Environment variables for docker container ###
###                                            ###
### This file holds environment variable defs  ###
### that are passed to the docker container.   ###
### Use it to configure your instance of the   ###
### bot on a per-environment basis.            ###
###                                            ###
### Use this file to generate 3 copies named   ###
### "development.env", "production.env", and   ###
### "testing.env", each of which should hold   ###
### the respective configurations for the bot. ###
##################################################

# Telegram bot token to use to connect to the telegram API
# You retrieve this by talking to the bot "Botfather"
BOT_TOKEN=111111111:aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

# Defines the intervals at which the in memory data should be
# written to the database. Higher values mean less database load,
# lower values mean more protection against data loss
FLUSH_INTERVAL=600

# Defines a list of telegram users/groups that have advanced
# capabilities and may control the behaviour of the bot. Also,
# every user/group listed here will be pinged every time the
# bot is started.
#
# Separate values with a colon (":"), e.g.
# ADMIN_USERS=12345:23456:34567
ADMIN_USERS=111111111

# Define the persistence layer to use for the bot. Valid values
# are
# - mysql
# - sqlite
#
# Depending on what value you use here you need to fill in further
# configuration variables based on your choice here. See below
PERSISTENCE=mysql

# If your choice for PERSISTENCE was "sqlite", then you can specify
# the path to the sqlite database file using this variable. Notice
# that the path will be accessed from inside the docker container,
# so most likely you'll want to put a path to a file on a volume here,
# such as inside /db/
SQLITE_DB_PATH=/db/sqlite/dev.db

# If your choice for PERSISTENCE was "mysql", then you can specify
# the mysql server credentials in the next few environment variables.
MYSQL_HOST=muell_mysql_1
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=example
MYSQL_DATABASE=icstelegrambot

# Path to the database migration files that will be used for migration
# every time the container starts. Notice that the path will be accessed
# from inside the docker container. Also note that depending on your choice
# for PERSISTENCE the path to the migration files differs. The default should
# usually be fine.
MIGRATIONS_DIR=/db/migrations/mysql/

# Specify the database connection string for the mgiration tool "dbmate".
# This is listed separately for security reasons (migrations need to alter
# database schemas, and the bot should not have these kinds of permissions).
#
# For more information on how this database string needs to look like, please
# refer to the dbmate manual at https://github.com/amacneil/dbmate
DATABASE_URL=mysql://root:example@muell_mysql_1/icstelegrambot
